<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>375698360625-44ch7a751p2jos0t08qbh984vmtok2vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375698360625-44ch7a751p2jos0t08qbh984vmtok2vs</string>
	<key>API_KEY</key>
	<string>AIzaSyDsd26vktbX9Bx1tyXC8m5FIAEwAIzB3T4</string>
	<key>GCM_SENDER_ID</key>
	<string>375698360625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mau8.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chat-72e64</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-72e64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375698360625:ios:5c3aa5fce796b606</string>
	<key>DATABASE_URL</key>
	<string>https://chat-72e64.firebaseio.com</string>
</dict>
</plist>